@import url(http://fonts.googleapis.com/css?family=Exo+2:400,300);
.accordions {
  margin: 0 auto;
  max-width: 60em;
}
.accordion {
  background-color: white;
}
.accordion .accordion-header {
  background-color: #314a4c;
  color: white;
  cursor: pointer;
  font-family: "Exo", sans-serif;
  font-size: 1.2em;
  padding: 1em;
}
.accordion .accordion-body {
  background-color: #d2d9da;
  border: 1px solid #1d2c2d;
  color: #314a4c;
  font-family: "Exo", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.5;
  max-height: 110px;
  overflow: hidden;
  transition: all 0.5s ease-in;
}
.accordion .accordion-body .inner-body {
  padding: 1em;
}
.closed .accordion-body {
  max-height: 0;
  transition: all 0.5s ease-in;
}
